exportClasses(PSICQUIC, IDMapper)

exportMethods(
  interactions,
  providers,
  rawQuery,
  addGeneInfo,
  addStandardNames,
  show
  )

export(
  PSICQUIC,
  IDMapper,
  interactionTypes,
  detectionMethods,
  speciesIDs
  )

import(BiocGenerics)
import(biomaRt)
import(IRanges)
import(methods)
import(plyr)
import(httr)

importFrom("RCurl", "url.exists", "getURL")
importFrom("utils", "browseURL", "read.table", "str")
